<mat-toolbar class="bottom" color="primary">
    <mat-toolbar-row>
      <div class="center"><button mat-icon-button routerLink="/main"><mat-icon class="grey">home</mat-icon></button></div>
      <div class="center"><button mat-icon-button><mat-icon class="grey">view_agenda</mat-icon></button></div>
      <div class="center"><button mat-icon-button><mat-icon class="grey">restore</mat-icon></button></div>
      <div class="center"><button mat-icon-button><mat-icon class="grey">account_box</mat-icon></button></div>
    </mat-toolbar-row>
</mat-toolbar>