.container {
    padding:10px;
}

h1 {
    font-family: 'rubik', 'arial', sans-serif;
    font-weight: bold;
}

h4 {
    font-family: 'rubik', 'arial', sans-serif;
    font-weight: bold;
}

.header {
    padding-left:20px;
    padding-top: 20px;
}

mat-expansion-panel-header {
    font-family: 'rubik', 'arial', sans-serif;
    font-weight: bold;
    color: rgb(53, 63, 223);
}

p {
    font-family: 'rubik', 'arial', sans-serif;
}