<mat-card>
    <mat-card-header>
      <mat-card-title>Transaction</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <div class="container">
              <mat-list-item *ngFor="let item of bucket;">
                <h3 matLine class="transactionId">ID: {{item.transactionId}} </h3>
                <h3 matLine> {{item.comment}} </h3>
                <span class="amount"> {{item.amount}} </span>
                <p matLine>
                  <span class="type"> {{item.type}} </span>
                </p>
              </mat-list-item>
              </div>
            </mat-list>
        </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>