p {
    font-weight: bold;
  }
  
//   .mat-list-item {
//     /* background-color: #222b45;  */
//     border-top: 3px solid #151a30;
//     border-bottom: 1.5px solid #151a30;
//     animation: highlight 7s;
//   }
  
  @keyframes highlight {
    from {opacity: 0; background-color: #4173ff;}
    to {opacity: 1; background-color: none;}
  }
  
  .mat-card {
    border: none !important;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .mat-card:not([class*=mat-elevation-z]){
    box-shadow: none;
  }

  .mat-card-title {
    font-size: 18px;
    font-family: 'rubik', 'arial', sans-serif;
    font-weight: bold;
  }
  
  .container{
    width: auto;
    max-height: 100%;
    overflow: scroll;
    padding: 0;
  }
  
  .date {
    float: right !important;
    font-size: 12px;
  }
  
  .event {
    font-size: 13.5px;
  }
  
  /* Hide scrollbar for Chrome, Safari & Opera */
  .container::-webkit-scrollbar {
    display: none;
  }
  